<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.amcf">

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".contactview.ContactActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

            <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".SMSSender"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider182422345585047"
                  android:name="com.facebook.FacebookContentProvider"
                  android:exported="true"/>
        <receiver
                android:name=".IncomingSmsReceiver"
                android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".SMSList"/>
        <activity android:name=".NotificationActivity"/>
        <activity android:name=".integration.facebook.LoginFacebookActivity"
                  android:label="@string/app_name"/>
        <!--below are configs for loginFacebook-->
        <!--android:configChanges=-->
        <!--"keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <activity android:name=".DisplayConversation"/>
        <activity android:name=".DirectCommunicationAcitivty"/>

    </application>

</manifest>